// ====================================== //
//               Variables                //
// ====================================== //



// =================================


// Colors

$white: #fff; //white
$color-primary-text: #404A51;
$color-secondary-text: #868C90;
$color-border: #DFDFDF;
$color-background: #FCFCFC;

// Fonts

$font-stack-primary: 'PassionSansPDaq Black', sans-serif;

// Breakpoint

$break-s: 380px;
$break-m: 769px;

// Layout
$max-width: 1150px;
