/* ============================================= */
/*                   Grid Layout                 */
/* ============================================= */


.grid-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    grid-template-rows: 120px 120px 120px 120px;
    justify-content: center;
    gap: 10px;
    height: calc(100vh);
    position: relative;
}

@media (min-width: $break-s) {
    .grid-container {
        grid-template-columns: repeat(2, 400px);
        gap: 20px;
    }
}

@media (min-width: $break-m) {
    .grid-container {
        grid-template-columns: repeat(3, 350px);
        gap: 25px;
        margin: 0 auto;
    }
}
