/* ============================================= */
/*                   Grid Layout                 */
/* ============================================= */


.grid-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 10px;
}

@media (min-width: $break-s) {
    .grid-container {
        grid-template-columns: repeat(2, 400px);
        gap: 20px;
    }
}

@media (min-width: $break-m) {
    .grid-container {
        grid-template-columns: repeat(3, 400px);
        gap: 25px;
    }
}
