//====================================//
//                Main                //
//====================================//

body {
    position: relative;
    background-color: $color-background;
}

header{
    display: flex;
    justify-content: space-around;;
}

h1 {
    display: inline-block;
    font-size: 16px;
    color: $color-primary-text;
    text-transform: capitalize;
    padding: 1.5em 0;
}

#search {
    margin: 1.5em 0;
    width: 250px;
}

//====================================//
//                Card                //
//====================================//

.card {
    background-color: $white;
    display: flex;
    border: 2px solid $color-border;
    border-radius: 5px;
    padding: 15px;
    transition: ease-in .1s;
}

.card:hover{
    transform: scale(1.05);
}

.card h2, 
.card p{
    text-align: left;
}

.card h2 {
    color: $color-primary-text;
    font-size: 16px;
}

.card p {
    color: $color-secondary-text;
    font-size: 12px;
}

.avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    margin: auto 10px;
}

//====================================//
//              Overlay               //
//====================================//

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.grey {
    background-color: rgba(100, 100, 100, 0.4);
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 25px;
}

.hidden {
    display: none;
}

.modal-content h2,
.modal-content p {
    text-align: center;
}

.modal-content p {
    color: $color-secondary-text;
}

.arrow {
    width: 150px;
    position: absolute;
    display: block;
    z-index: 5;
    cursor: pointer;
}

.left{
    left: 25%;
    top: 40%;
}

.right{
    right: 25%;
    top: 40%;
}