
/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
    box-sizing: border-box;
    font-family: $font-stack-primary;
  }

p {
  text-align: center;
  color: rgb(73, 70, 70);
}



